<app-navbar-back title="Panel de Administración"></app-navbar-back>

<ion-content class="ion-padding">

  <div class="text-center">
    <ion-button class="top-button" (click)="onClick()" expand="block">
      <ion-icon slot="start" name="add"></ion-icon>
      Nuevo Vigilador
    </ion-button>
  </div>

  <ion-searchbar mode="ios" animated debounce="500" [(ngModel)]="searchKey" placeholder="Buscar por Nombre o Apellido"></ion-searchbar>


  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Horario Laboral</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of [1,1,1,1,1,1]; let i = index">
        <td class="text-center">Chicala</td>
        <td>Alejandro</td>
        <td *ngIf="i % 2 == 0">
          <ion-icon color="success" slot="icon-only" name="checkmark-outline"></ion-icon>
        </td>
        <td *ngIf="i % 2 != 0">
          <ion-icon color="danger" slot="icon-only" name="close-outline"></ion-icon>
        </td>
      </tr>
      <tr>
      
    </tbody>
  </table>

</ion-content>
