<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Check Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <div class="table-responsive container">
    
      <ion-row>
        <ion-col><ion-searchbar animated="true" placeholder="Buscar invitados..."></ion-searchbar></ion-col>
      </ion-row>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">CheckOut</th>
          <th scope="col" class="name">Nombre</th>
          <th scope="col">DNI</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th scope="col">Autorizado Por</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guest of checkOutList; let i = index">
          
          <td>
            <ion-button (click)="checkOut(guest, i)" color="danger" expand="block" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
            </ion-button>
          </td>
          <td>{{guest.guest_name}}</td>
          <td>{{guest.DNI}}</td>
          <td>{{guest.income_date | date : 'shortDate'}}</td>
          <td>{{guest.income_date | date : 'shortTime'}}</td>
          <td> {{guest.user.name}} </td>
        </tr>
        <tr>
        
      </tbody>
    </table>   
    
    
    </div>
    
    </ion-card>

</ion-content>
