<app-navbar-back title="Ver Eventos"></app-navbar-back>

<ion-content>
  <div class="table-responsive container padding-top">
    <h5>Reserva de Eventos</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Reserva</th>
          <th scope="col">Fecha</th>
          <th scope="col">Invitados</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; let i = index" >
          <th *ngIf=" 0 === 0 " scope="row"><ion-badge color="success">Aprobado</ion-badge></th>
          <td>{{reservation.amenity.name}}</td>
          <td>{{reservation.date | date: 'short'}}</td>
          <td>
            <ion-button size="small" (click)="openModal(reservation, i)" shape="round">
              Ver Invitados
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</ion-content>
