<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Nuevo Country</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form-container">
    <ion-item>
      <ion-label position="floating">Nombre del Country<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Localidad</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono de Contacto</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

    <ion-button class="submit-button" size="large" expand="block" color="primary" type="submit">
      Guardar Country
    </ion-button>
  </form>
</ion-content>