

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    margin-top: 75px;
    height: 75%;
    z-index: -1;
  }

  .guard-avatar{
    background-color: red;
    border: 9px solid yellow;
  }

  .box{
    // background-color: red;
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-80%);
  

    div.circle1{
      position: absolute;
      width: 200px;
      height: 200px;
      border: 9px solid var(--ion-color-danger);
      border-radius: 50%;
    }

    div.circle2{
      position: absolute;
      width: 250px;
      height: 250px;
      left: -25px;
      top: -25px;
      border: 9px solid var(--ion-color-danger);
      border-radius: 50%;
    }

  }