<app-navbar-back title="Agregar Horario Laboral"></app-navbar-back>

<ion-content >
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h5>Dia laboral </h5>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding ">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione un Dia">
              <ion-select-option value="Lunes">Lunes</ion-select-option>
              <ion-select-option value="Martes">Martes</ion-select-option>
              <ion-select-option value="Miercoles">Miércoles</ion-select-option>
              <ion-select-option value="Jueves">Jueves</ion-select-option>
              <ion-select-option value="Viernes">Viernes</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row class="ion-padding ion-text-center">
      <ion-col>
        <p>Seleccione horario de inicio </p>
        <ion-datetime presentation="time"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding ion-text-center">
      <ion-col>
        <p>Seleccione horario de fin </p>
        <ion-datetime presentation="time"></ion-datetime>
      </ion-col>
    </ion-row>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Dia</th>
          <th scope="col" class="name">Horario de Inicio</th>
          <th scope="col" class="name">Horario de Fin</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          
          <td>LUNES </td>
          <td>13:15 Hs</td>
          <td>14:45 hs</td>
        </tr>
        <tr>
        
      </tbody>
    </table>

    <ion-row>
      <ion-col>
        <ion-button size="4"> Agregar Horario</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button> Agregar a Calendario</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
