<app-navbar-back title="Nueva Propiedad"></app-navbar-back>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <form class="form-container" [formGroup]="getForm()" (ngSubmit)="addProperty()">
      
      <div class="form-header">
        <ion-icon name="business-outline" color="primary"></ion-icon>
        <h3>Datos de la Propiedad</h3>
      </div>
      
      <!-- Grid para dos columnas -->
      <div class="form-grid">
        <!-- Nombre -->
        <ion-item class="form-field">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input maxlength="50" formControlName="propertyName" type="text"></ion-input>
        </ion-item>
        
        <!-- Dirección -->
        <ion-item class="form-field">
          <ion-label position="floating">Dirección</ion-label>
          <ion-input maxlength="50" formControlName="propertyAddress"></ion-input>
        </ion-item>

        <!-- Número de Propiedad / Lote (ocupa todo el ancho) -->
        <ion-item class="form-field full-width-field">
          <ion-label position="floating">Número de Propiedad / Lote</ion-label>
          <ion-input type="number" formControlName="propertyNumber"></ion-input>
        </ion-item>
      </div>
      
      <!-- Uploader de Imagen Profesional -->
      <div class="avatar-uploader">
        <img class="avatar-preview" [src]="newImg" alt="Vista previa de la propiedad">
        <label for="avatar-input" class="upload-button">
          <ion-icon name="camera-outline"></ion-icon>
          <input id="avatar-input" type="file" (change)="onFileChange($event)" formControlName="propertyAvatar" accept="image/*">
        </label>
      </div>
      <p class="avatar-helper-text">Subir foto de la propiedad</p>
      
      <!-- Botón de Acción -->
      <ion-button 
        class="submit-button"
        type="submit" 
        [disabled]="getForm().invalid" 
        expand="block">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Añadir Propiedad
      </ion-button>

    </form>
  </div>
</ion-content>

