<app-navbar-back title="Panel de Administración"></app-navbar-back>

<ion-content class="ion-padding">

  <div class="text-center">
    <ion-button class="top-button" routerLink="/admin/nuevo-propietario" expand="block">
      <ion-icon slot="start" name="add"></ion-icon>
      Nuevo Propietario
    </ion-button>
  </div>

  <ion-searchbar mode="ios" animated debounce="500" [(ngModel)]="searchKey" placeholder="Buscar por Nombre o N° de propiedad"></ion-searchbar>
  <div class="table-responsive container">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Propiedad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of owners| filter: searchKey ; let i = index">
        <td>{{owner.user.lastname}}</td>
        <td>{{owner.user.name}}</td>
        <td>{{owner.user.dni}}</td>
        <td>{{owner.property.name}}</td>
      </tr>
      <tr>
      
    </tbody>
  </table>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="text-center">
      <ion-button  routerLink="/admin/asignar-propiedad" expand="block">
        <ion-icon slot="start" name="add"></ion-icon>
        Asignar Propiedades
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
