
<app-navbar-back title="Panel de Administración"></app-navbar-back>

<ion-content class="ion-padding">

  <div class="text-center">
    <ion-button class="top-button" routerLink="/admin/nuevo-propietario" expand="block">
      <ion-icon slot="start" name="add"></ion-icon>
      Nuevo Propietario
    </ion-button>
  </div>

  <ion-searchbar 
    mode="ios" 
    animated 
    debounce="500" 
    [(ngModel)]="searchKey" 
    placeholder="Buscar por Nombre o N° de propiedad">
  </ion-searchbar>
  
  <div class="table-responsive container">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">DNI</th>
          <th scope="col">Propiedad</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <!-- 
          SOLUCIÓN: Usar getter que combina filtrado y ordenamiento
          Esto elimina la dependencia de pipes externos y mejora el rendimiento
        -->
        <tr *ngFor="let owner of owners | filter: searchKey; let i = index">
          <td>{{ owner.user.lastname }}</td>
          <td>{{ owner.user.name }}</td>
          <td>{{ owner.user.dni }}</td>
          <td>{{ owner.property.name }}</td>
          <td>
            <ion-icon 
              size="large" 
              name="create-outline" 
              (click)="editUser(owner.user.id, i)"
              style="cursor: pointer;">
            </ion-icon>
          </td>
        </tr>
        
        <!-- Mensaje cuando no hay resultados -->
        <tr *ngIf="filteredAndSortedOwners.length === 0">
          <td colspan="5" class="text-center">
            <ion-text color="medium">
              {{ searchKey ? 'No se encontraron resultados' : 'No hay propietarios registrados' }}
            </ion-text>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="text-center">
      <ion-button routerLink="/admin/asignar-propiedad" expand="block">
        <ion-icon slot="start" name="add"></ion-icon>
        Asignar Propiedades
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>