<!--src/app/components/navbars/navbar-guards/navbar-guards.component.html-->
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Hola, {{user?.name}}!</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-accordion-group>

        <ion-accordion value="navegar-eventos" toggleIcon="none">
          <ion-item (click)=" router.navigate(['ver-eventos']) "  slot="header">
            <ion-icon slot="start" name="today-outline"></ion-icon>
            <ion-label>Eventos</ion-label>
          </ion-item>
        </ion-accordion>

        <ion-accordion value="cerrar-sesion" toggleIcon="none">
          <ion-item (click)="signOut()" slot="header">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Cerrar Sesion</ion-label>
          </ion-item>
        </ion-accordion>
  
      </ion-accordion-group>
  
      <!-- <ion-list lines="none">
        <ion-button slot="start" 
        expand="block" fill="clear">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Cerrar sesion
        </ion-button>
      </ion-list> -->
  
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-header [translucent]="true">
    <ion-toolbar>
  
      <ion-button (click)="openFirst('first')" slot="start" fill="clear">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
  
      <ion-title mode="ios"> {{countryName}} </ion-title>
  
      <ion-button (click)="dropdown()" slot="end" fill="clear">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

    </ion-toolbar>

    
    <ion-list *ngIf="dropdownState">
      <ion-item class="noti"  *ngFor="let noti of notifications; let i = index">
        <ion-label>
          <h3> {{noti.title}} </h3>
          <p class="ion-text-wrap" >{{noti.content}}</p>
        </ion-label>
        <ion-icon (click)="deleteNotification(noti, i)" class="ion-padding-start" name="trash-outline"></ion-icon>
      </ion-item>    
    
      <ion-item class="noti" *ngIf="notifications.length == 0">
        <ion-label class="ion-text-wrap">
          <h3> NO SE ENCUENTRAN NOTIFICACIONES EN ESTE MOMENTO </h3>
        </ion-label>
      </ion-item>  

    </ion-list>

  </ion-header>