ion-avatar.no-radius {
  --border-radius: 0px;
  height: 40px;
  width: 60px;
}

ion-avatar {
  height: 40px;
  width: 40px;
}

ion-item.noti {
  --background:#ebebeb;
  --color: #fff;
  padding-bottom: 2%;
  --border-color: #fbad32;

}


ion-list{
  padding-bottom: 0PX;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ebebeb;
} 