/* ====================================================== */
/* TABS.PAGE.SCSS (BARRA DE NAVEGACIÓN INFERIOR) */
/* ====================================================== */
ion-tab-bar {
  --background: var(--ion-toolbar-background);
  --border-color: var(--ion-border-color); /* Usar variable para el borde */
  --color-selected: var(--ion-color-primary);
  --color: var(--zentry-color-text-secondary); /* Usar variable para texto no seleccionado */
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: 5px;
  border-top: 1px solid var(--ion-border-color); /* Usar variable */
}

ion-tab-button {
  font-family: var(--font-heading);
  font-weight: 500;
}
