<ion-header>
  <ion-toolbar>
    <ion-title>politica-de-privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-textarea >
      Política de Privacidad para la Aplicación de Seguridad MF-Seguridad

Fecha de entrada en vigencia: 08/06/2023

Esta Política de Privacidad describe cómo se recopila, utiliza y comparte la información personal de los usuarios de la aplicación de seguridad MF-Seguridad (en adelante, "la Aplicación"). Al utilizar la Aplicación, usted acepta las prácticas descritas en esta política.

1. Información Recopilada

La Aplicación MF-Seguridad recopila y almacena la siguiente información personal de los usuarios:

- Nombre y apellido: para identificar de manera única a los usuarios.
- Fecha de cumpleaños: para verificar la edad de los usuarios y garantizar el cumplimiento de las políticas de edad adecuadas.
- Email: para permitir la comunicación con los usuarios y facilitar la recuperación de la cuenta en caso de pérdida de contraseña.
- Contraseña: para proteger la cuenta del usuario y garantizar el acceso seguro a la Aplicación.
- ID de usuario: para identificar de manera única a los usuarios en el sistema de la Aplicación.
- Dirección: para personalizar la experiencia del usuario y proporcionar información relevante relacionada con el barrio cerrado.
- Ubicación en tiempo real: para permitir que la Aplicación muestre la ubicación del usuario y proporcione servicios de seguridad basados en la ubicación.

2. Uso de la Información Recopilada

La información personal recopilada se utiliza para los siguientes fines:

- Proporcionar y mejorar los servicios de seguridad de la Aplicación.
- Personalizar la experiencia del usuario y ofrecer contenido relevante.
- Enviar notificaciones, actualizaciones y comunicaciones relacionadas con la Aplicación.
- Cumplir con las obligaciones legales y resolver disputas.
- Garantizar la seguridad de la Aplicación y prevenir actividades fraudulentas o no autorizadas.
- Realizar análisis y estudios de mercado para mejorar nuestros servicios.

3. Compartir Información

La Aplicación MF-Seguridad no compartirá su información personal con terceros, excepto en las siguientes circunstancias:

- Con su consentimiento explícito para compartir información específica.
- Con proveedores de servicios de confianza que nos asisten en la operación de la Aplicación y cumplen con estándares de seguridad y privacidad.
- Si es requerido por la ley, una orden judicial o una autoridad legal competente.
- En caso de una fusión, adquisición o venta de la Aplicación, donde se garantizará la confidencialidad de su información personal.

4. Seguridad de la Información

Se implementarán medidas de seguridad apropiadas para proteger su información personal contra el acceso no autorizado, el uso o la divulgación. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet o método de almacenamiento electrónico es completamente seguro.

5. Sus Derechos y Opciones

Usted tiene ciertos derechos y opciones con respecto a su información personal, incluyendo:

- Acceso y corrección: puede solicitar acceso, corrección o actualización de su información personal en nuestra base de datos.
- Eliminación: puede solicitar la eliminación de su información personal, sujeto a las obligaciones legales y contractuales.
- Marketing y comunicaciones: puede optar por no recibir comunicaciones de marketing por parte de la Aplicación.

6. Cambios en la

 Política de Privacidad

Esta Política de Privacidad puede actualizarse periódicamente para reflejar los cambios en nuestras prácticas de privacidad. Se le notificará de cualquier cambio significativo en esta política a través de la Aplicación o por otros medios razonables.

Si tiene alguna pregunta o inquietud acerca de esta Política de Privacidad, por favor contáctenos a través de [dirección de correo electrónico de contacto].

Al utilizar la Aplicación MF-Seguridad, usted reconoce haber leído y entendido esta Política de Privacidad y acepta el tratamiento de su información personal según lo establecido en esta política.
    </ion-textarea>
  </ion-item>

</ion-content>
