<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>MF Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-textarea >
      <h1>Política de Privacidad para la Aplicación de Seguridad MF-Seguridad</h1>
  <p><strong>Fecha de entrada en vigencia:</strong> 08/06/2023</p>
  
  <p>Esta Política de Privacidad describe cómo se recopila, utiliza y comparte la información personal de los usuarios de la aplicación de seguridad MF-Seguridad (en adelante, "la Aplicación"). Al utilizar la Aplicación, usted acepta las prácticas descritas en esta política.</p>
  
  <h2>1. Información Recopilada</h2>
  
  <p>La Aplicación MF-Seguridad recopila y almacena la siguiente información personal de los usuarios:</p>
  
  <ul>
    <li>Nombre y apellido: para identificar de manera única a los usuarios.</li>
    <li>Fecha de cumpleaños: para verificar la edad de los usuarios y garantizar el cumplimiento de las políticas de edad adecuadas.</li>
    <li>Email: para permitir la comunicación con los usuarios y facilitar la recuperación de la cuenta en caso de pérdida de contraseña.</li>
    <li>Contraseña: para proteger la cuenta del usuario y garantizar el acceso seguro a la Aplicación.</li>
    <li>ID de usuario: para identificar de manera única a los usuarios en el sistema de la Aplicación.</li>
    <li>Dirección: para personalizar la experiencia del usuario y proporcionar información relevante relacionada con el barrio cerrado.</li>
    <li>Ubicación en tiempo real: para permitir que la Aplicación muestre la ubicación del usuario y proporcione servicios de seguridad basados en la ubicación.</li>
  </ul>
  
  <h2>2. Uso de la Información Recopilada</h2>
  
  <p>La información personal recopilada se utiliza para los siguientes fines:</p>
  
  <ul>
    <li>Proporcionar y mejorar los servicios de seguridad de la Aplicación.</li>
    <li>Personalizar la experiencia del usuario y ofrecer contenido relevante.</li>
    <li>Enviar notificaciones, actualizaciones y comunicaciones relacionadas con la Aplicación.</li>
    <li>Cumplir con las obligaciones legales y resolver disputas.</li>
    <li>Garantizar la seguridad de la Aplicación y prevenir actividades fraudulentas o no autorizadas.</li>
    <li>Realizar análisis y estudios de mercado para mejorar nuestros servicios.</li>
  </ul>
  
  <h2>3. Compartir Información</h2>
  
  <p>La Aplicación MF-Seguridad no compartirá su información personal con terceros, excepto en las siguientes circunstancias:</p>
  
  <ul>
    <li>Con su consentimiento explícito para compartir información específica.</li>
    <li>Con proveedores de servicios de confianza que nos asisten en la operación de la Aplicación y cumplen con estándares de seguridad y privacidad.</li>
    <li>Si es requerido por la ley, una orden judicial o una autoridad legal competente.</li>
    <li>En caso de una fusión, adquisición o venta de la Aplicación, donde se garantizará la confidencialidad de su información personal.</li>
  </ul>
  
  <h2>4. Seguridad de la Información</h2>
  
  <p>Se implementarán medidas de seguridad apropiadas para proteger su información personal contra el acceso no autorizado, el uso o la divulgación. Sin embargo, tenga en cuenta que ninguna transmisión de datos a través de Internet o método de almacenamiento electrónico es completamente seguro.</p>
  
  <h2>5. Sus Derechos y Opciones</h2>
  
  <p>Usted tiene ciertos derechos y opciones con respecto a su información personal, incluyendo:</p>
  
  <ul>
    <li>Acceso y corrección: puede solicitar acceso, corrección o actualización de su información personal en nuestra base de datos.</li>
    <li>Eliminación: puede solicitar la eliminación de su información personal, sujeto a las obligaciones legales y contractuales.</li>
    <li>Marketing y comunicaciones: puede optar por no recibir comunicaciones de marketing por parte de la Aplicación.</li>
  </ul>
  
  <h2>6. Cambios en la Política de Privacidad</h2>
  
  <p>Esta Política de Privacidad puede actualizarse periódicamente para reflejar los cambios en nuestras prácticas de privacidad. Se le notificará de cualquier cambio significativo en esta política a través de la Aplicación o por otros medios razonables.</p>
  
  <p>Si tiene alguna pregunta o inquietud acerca de esta Política de Privacidad, por favor contáctenos a través de <a href="mailto:soporte@shockmultimedios.com">soporte@shockmultimedios.com</a>.</p>
  
  <p>Al utilizar la Aplicación MF-Seguridad, usted reconoce haber leído y entendido esta Política de Privacidad y acepta el tratamiento de su información personal según lo establecido en esta política.</p>
    </ion-textarea>
  </ion-item>

</ion-content>
