<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" placeholder="Ingrese nueva contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Repita la contraseña"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMsg" style="margin-top:8px; display:block;">{{ errorMsg }}</ion-text>

    <ion-button expand="block" style="margin-top:16px;" (click)="submit()">Cambiar contraseña</ion-button>
  </ion-list>
</ion-content>
