<app-navbar-back title="Asignar Propiedad"></app-navbar-back>

<ion-content>

<form form [formGroup]="getForm()" >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
  <ion-searchbar placeholder="Buscar por Nombre o Apellido"  [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" > </ion-searchbar>
  <ion-list >
    <ion-radio-group formControlName="user_id" >
      <ion-item *ngFor="let owner of owners | filter: searchKey ; let i = index ">
        <ion-label>{{owner.user.name}} {{owner.user.lastname}}             -       {{owner.user.dni}}</ion-label>
        <ion-radio  slot="end" [value]="owner.user.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-col>
</ion-row>
<hr>

<ion-row>
  <ion-col>
    <div class="ion-text-center">
      <h3>Elija una propiedad para asignar al usuario</h3>
    </div>
</ion-col>
</ion-row>

<ion-row class="ion-justify-content-center">
  <ion-col>
  <ion-searchbar placeholder="Buscar por Nombre de Propiedad" [(ngModel)]="searchKey1" [ngModelOptions]="{standalone: true}" ></ion-searchbar>
  <ion-list >
    <ion-radio-group formControlName="property_id">
      <ion-item *ngFor="let property of properties | filter: searchKey1 ; let i = index "> 
        <ion-avatar>
          <img alt="Avatar" [src]="property.property.avatar" />
        </ion-avatar>
        <ion-label>{{property.property.name}} - <b>Nº </b>  {{property.property.number}}</ion-label>
        <ion-radio slot="end" [value]="property.property.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-col>
</ion-row>

<ion-row class="ion-justify-content-center">
  <ion-col>
  <ion-button  (click)="asignarPropiedadAlUsuario()" expand="block" shape="round">
    <ion-icon slot="start" name="add"></ion-icon>
    Asignar Country al Propietario
  </ion-button>
</ion-col>
</ion-row>

</ion-grid>

</form>

  
</ion-content>
