<ion-header>
  <ion-toolbar>
    <ion-title>Lista de invitados</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item>
      <ion-searchbar [(ngModel)]="searchKey" animated="true" placeholder="Buscar invitados..."></ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let guest of guests | filterBy:searchKey; let i = index">
      <ion-label>
        <h2>{{guest.fullname}} </h2>
        <p>{{guest.dni}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="guests.length == 0">
    <ion-label> ESTE EVENTO SE GUARDO SIN INVITADOS </ion-label>
  </ion-item>

</ion-content>