<!-- src/app/pages/admin/country-amenities/add-amenity/add-amenity.page.html -->
<app-navbar-back title="Nuevo Lugar de Reserva"></app-navbar-back>
<ion-content>
  <ion-grid class="ion-padding">
    <form [formGroup]="form" (keyup.enter)="saveAmenitie()" (ngSubmit)="saveAmenitie()">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-item counter="true">
            <ion-label position="floating">Nombre del Lugar de Reserva</ion-label>
            <ion-input maxlength="50" required type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-item counter="true">
            <ion-label position="floating">Dirección</ion-label>
            <ion-input maxlength="50" required type="text" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-card>
          <img [src]="newImg" alt="">
          <input type="file" (change)="onFileChange($event)" accept="image/*" />
        </ion-card>
      </ion-row>

      <ion-button type="submit" [disabled]="form.invalid" expand="block" shape="round">
        <ion-icon slot="start" name="add"></ion-icon>
        Añadir Lugar de Reserva
      </ion-button>
    </form>
  </ion-grid>

</ion-content>