<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title> Editar Perfil </ion-title>
  </ion-toolbar>
 </ion-header>


<ion-content mode="md">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding-bottom">
      <ion-col size="12" class="ion-text-center">
        <div class="avatar-card">
          <ion-avatar class="prop-preview">
            <img [src]="avatarUrl" alt="Foto propietario" />
          </ion-avatar>
          <div class="avatar-actions">
            <ion-button size="small" fill="outline" (click)="openAvatarPicker()">Cambiar foto</ion-button>
            <input id="ownerAvatarInput" type="file" accept="image/*" (change)="onAvatarPicked($event)" hidden />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form class="owner-edit-form" [formGroup]="getForm()" (ngSubmit)="updateOwner()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <input required formControlName="name" type="text" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <input required formControlName="lastname" type="text" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <input required formControlName="phone" type="text" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <input required formControlName="email" type="email" />
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap birthday" position="stacked">Cumpleaños</ion-label>
      <input formControlName="birthday" type="date" class="input-date" />
    </ion-item>

    <ion-button type="submit" expand="block" shape="round" [disabled]="form.pristine || form.invalid">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>