p{
    margin-bottom: 0;
    font-weight: bold;
}

div.register{
    margin-bottom: 15px;

    ion-item{
        margin-bottom: 10px;
    
        small{
            color: var(--ion-color-gray);
        }

    }

    border-bottom: 1px solid var(--ion-color-gray);

}