@media (max-width: 768px) {
    .name{
        display: inline-block;
        width: 200px;
    }
        
}

th, td{
    color: var(--ion-color-dark);
}

// ion-toggle {
//     // --handle-background-checked: rgb(214, 25, 25);
//     // --handle-background: rgb(214, 25, 25);
//     // --background: var(--ion-color-danger);

// }

// ion-toggle::before {
//     position: absolute;
  
//     top: 13px;
//     left: 16px;
  
//     content: "NO";
  
//     color: white;
//     font-size: 8px;
  
//     z-index: 1;
//   }

//   ion-toggle::after {
//     position: absolute;
  
//     top: 13px;
//     left: 34px;
  
//     content: "SI";
  
//     color: white;
//     font-size: 8px;
  
//     z-index: 1;
//   }