<app-navbar-back title="Reserva de Eventos"></app-navbar-back>

<ion-content class="ion-padding">

  <form form [formGroup]="getForm()" (keyup.enter)="saveAmenitie()" (ngSubmit)="saveAmenitie()">
    <ion-item>
      <ion-label position="floating">Seleccionar Lugar</ion-label>
      <ion-select formControlName="amenitieID" placeholder="Seleccionar">
        <ion-select-option *ngFor="let amenitie of amenities; let i = index"
          [value]="amenitie.id">{{amenitie.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap mb-3" position="stacked">Fecha y hora de ingreso</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-button class="paddingbutton" (click)="addGuest()" size="small" shape="round">
      <ion-icon name="add-circle-outline"></ion-icon>
      Añadir Invitado
    </ion-button>

    <ion-list>
      <ion-row class="borderBottom" *ngFor="let guest of guests; let i = index">
        <ion-col size="6">
          <ion-item>
            <ion-input [(ngModel)]="guests[i].name" [ngModelOptions]="{standalone: true}" type="text"
              placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input [(ngModel)]="guests[i].lastname" [ngModelOptions]="{standalone: true}" type="text"
              placeholder="Apellido"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input [(ngModel)]="guests[i].dni" [ngModelOptions]="{standalone: true}" type="number"
              placeholder="DNI"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime formControlName="fecha" presentation="date-time" color="primary" [showDefaultTitle]="true"
          id="datetime">
          <span slot="title">SELECCIONA LA FECHA DE INGRESO</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-label position="stacked">Aclaraciones / Detalles</ion-label>
      <ion-textarea formControlName="detalles" rows="4"
        placeholder="Aclara al administrador el motivo de la reserva"></ion-textarea>
    </ion-item>

    <div class="text-center">
      <ion-button shape="round" block color="primary" type="submit" [disabled]="getForm().invalid">
        Solicitar Reserva
      </ion-button>
    </div>
  </form>

</ion-content>