<app-navbar-back title="Reserva de Eventos"></app-navbar-back>

<ion-content class="ion-padding">

  <form form  [formGroup]="getForm()"(keyup.enter)="saveAmenitie()" (ngSubmit)="saveAmenitie()">
    <ion-item>
      <ion-label position="floating">Seleccionar Lugar</ion-label>
      <ion-select formControlName="amenitieID"  placeholder="Seleccionar">
        <ion-select-option *ngFor="let amenitie of amenities; let i = index" [value]="amenitie.id" >{{amenitie.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!--  -->
    <ion-item>
      <ion-label class="ion-text-wrap mb-3" position="stacked">Fecha y hora de ingreso</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-modal  [keepContentsMounted]="true">
      <ng-template>
          <ion-datetime formControlName="fecha" presentation="date-time" color="primary" [showDefaultTitle]="true"  id="datetime">
          <span slot="title">SELECCIONA LA FECHA DE INGRESO</span>
          </ion-datetime>
      </ng-template>
    </ion-modal>
    <!--  -->

    <ion-item>
      <ion-label position="stacked">Aclaraciones / Detalles</ion-label>
      <ion-textarea formControlName="detalles" rows="4" placeholder="Aclara al administrador el motivo de la reserva"></ion-textarea>
    </ion-item>

    <div class="text-center">
      <ion-button type="sumbit" shape="round" block color="primary" type="submit" [disabled]="getForm().invalid">
        Solicitar Reserva
      </ion-button>
    </div>
  </form>

</ion-content>
