<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Hola, {{user?.name}}!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-accordion-group>
      <ion-accordion value="cuenta">
        <ion-item slot="header">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <ion-list lines="none">
            <ion-item (click)="navigate('/editar-perfil')" button>
              <ion-button fill="clear" shape="round">
                Editar usuario
              </ion-button>
            </ion-item>

            <ion-item (click)="navigate('/cambiar-clave')" button>
              <ion-button expand="block" fill="clear" shape="round">
                Cambiar clave
              </ion-button>
            </ion-item>

          </ion-list>


        </div>
      </ion-accordion>

      <ion-accordion value="Solicitud de Contrasena" >
        <ion-item slot="header" (click)="navigate('/admin/solicitudes-de-contrasena')">
          <ion-icon slot="start" name="apps-outline"></ion-icon>
          <ion-label>   Solicitud de Contraseña</ion-label>
        </ion-item>
      </ion-accordion>

      <ion-accordion value="cerrar-sesion" toggleIcon="none">
        <ion-item (click)="_userStorage.signOut()" slot="header">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-item>
      </ion-accordion>

     

    </ion-accordion-group>

    <!-- <ion-list lines="none">
      <ion-button slot="start" 
      expand="block" fill="clear">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar sesion
      </ion-button>
    </ion-list> -->

  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button (click)="openFirst('first')" slot="start" fill="clear">
      <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>

    <ion-title mode="ios">{{countryName}} </ion-title>

    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>