ion-avatar{
    --border-radius: 0px;
     height: 55px;
     width: 77px;
    // height: 44px;
   // width: 62px;

   
}



ion-item.noti {
    --background: var(--ion-item-background);
    --color: var(--ion-text-color);
    padding-bottom: 2%;
    --border-color: var(--ion-color-warning);
  }
  
  ion-list{
    padding-bottom: 0PX;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--ion-background-color);
  } 

