<ion-content mode="md">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
      </ion-buttons>
      <ion-title> Editar Propiedad </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding-bottom">
      <ion-col size="12" class="ion-text-center">
        <div class="avatar-card">
          <ion-avatar class="prop-preview">
            <img [src]="avatarPreviewUrl || property?.avatar || 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="Foto propiedad" />
          </ion-avatar>
          <div class="avatar-actions">
            <ion-button size="small" fill="outline" (click)="openAvatarPicker()">Cambiar foto</ion-button>
            <input id="propertyAvatarInput" type="file" accept="image/*" (change)="onPropertyAvatarChange($event)" hidden />
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form class="owner-edit-form" [formGroup]="getForm()" (ngSubmit)="editProperty()">
    <ion-item class="form-item">
      <ion-label position="stacked">Nombre de la Propiedad</ion-label>
      <input formControlName="propertyName" maxlength="50" type="text" />
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="stacked">Dirección de la Propiedad</ion-label>
      <input formControlName="propertyAddress" maxlength="50" type="text" />
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="stacked">Número de Propiedad</ion-label>
      <input formControlName="propertyNumber" type="number" />
    </ion-item>

    <ion-button type="submit" expand="block" fill="solid">
      Guardar Cambios
    </ion-button>
  </form>

</ion-content>
