ion-button{
    margin-bottom: 1.2em;
}

ion-segment{
    width: 80%;
    
    --background: #e9e9e9;
    // padding: 10px;
    margin: 20px auto;
    ion-segment-button{
        padding: 10px;
    }
}

ion-segment-button::part(indicator-background) {
    background: var(--ion-color-primary);
  }