<div>
  <ion-row>
    <ion-col size="4" style="margin-top: 19px">INGRESOS</ion-col>
    <ion-col size="8"><ion-searchbar animated="true" placeholder="Buscar ingresos..."></ion-searchbar></ion-col>
  </ion-row>
  <div class="table-responsive container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">CheckIn</th>
        <th scope="col" class="name">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Autorizado por</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let check of checkIn; let i = index">
        <th scope="row">
          <ion-button (click)="checkInSelected(check)" fill="clear" shape="round">
            <ion-icon
              slot="icon-only"
              name="arrow-forward-circle-outline"
            ></ion-icon>
          </ion-button>
        </th>
        <td class="text-center" scope="row">{{check.guest_name}}</td>
        <td class="text-center" scope="row">{{check.income_date | date : 'shortDate' }}</td>
        <td>{{check.income_date | date : 'shortTime' }}</td>
        <td>{{ check.user.name }}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
</div>
