<app-navbar-back title="Panel de Administración"></app-navbar-back>

<ion-content class="ion-padding">

  <ion-searchbar mode="ios" animated debounce="500" [(ngModel)]="searchKey" placeholder="Buscar por fecha, prop N°, propietario"></ion-searchbar>
  <div class="table-responsive container"> 
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Prop N°</th>
        <th scope="col">Propietario</th>
        <th scope="col">Guardia</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let antipanic of antipanics| filterBy: searchKey ; let i = index">
        <td> {{antipanic.createdAt | date}} </td>
        <td> {{antipanic.createdAt | date:'shortTime'}} </td>
        <td class="text-center">{{antipanic.propertyNumber}}</td>
        <td>{{antipanic.owner.name}} </td>
        <td *ngIf ="antipanic.guard"  class="text-center"> {{antipanic.guard.name}} </td>
        <td *ngIf ="!antipanic.guard" class="text-center"> Nadie atendió </td>
        <td class="text-center"> 
        <ion-button (click)="showDetails(antipanic.details)"  shape="round">
          Detalles
        </ion-button>
       </td>

     <!-- ESTO TRATABA DE SI FUE CANCELADO O NO
         <td *ngIf="i % 2 != 0"><ion-badge color="success">SI</ion-badge></td>
        <td *ngIf="i % 2 == 0"><ion-badge color="danger">NO</ion-badge></td>
       --> 
      </tr>
      
    </tbody>
  </table>
</div>

</ion-content>
