<app-navbar-back title="Panel de Administración"></app-navbar-back>

<ion-content class="ion-padding">

  <ion-searchbar mode="ios" animated debounce="500" [(ngModel)]="searchKey" placeholder="Buscar por fecha, prop N°, propietario"></ion-searchbar>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Prop N°</th>
        <th scope="col">Propietario</th>
        <th scope="col">Guardia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let antipanic of antipanics| filter: searchKey ; let i = index">
        <td> {{antipanic.createdAt | date}} </td>
        <td class="text-center">{{antipanic.propertyNumber}}</td>
        <td>{{antipanic.owner.name}} </td>
          <div *ngIf ="antipanic.guard" >
            <td class="text-center"> {{antipanic.guard.name}} </td>
          </div>
          <div *ngIf ="!antipanic.guard" >
            <td class="text-center"> nada </td>
          </div>

     <!-- ESTO TRATABA DE SI FUE CANCELADO O NO
         <td *ngIf="i % 2 != 0"><ion-badge color="success">SI</ion-badge></td>
        <td *ngIf="i % 2 == 0"><ion-badge color="danger">NO</ion-badge></td>
       --> 
      </tr>
      
    </tbody>
  </table>

</ion-content>
