<app-navbar-back title="Cambiar Clave"></app-navbar-back>

<ion-content>

  <ion-content>

    <div class="container">
        <ion-card class="text-center">
            <div class="content">
                <ion-button class="avatar" fill="clear">
                    <ion-avatar>
                        <img src="assets/logos/user.png" />
                    </ion-avatar>
                    <ion-icon slot="icon-only" class="shadow" name="create-outline"></ion-icon>
                </ion-button>

                <form>
                    <ion-item>
                        <ion-label position="floating">Clave Actual <ion-text color="primary">*</ion-text></ion-label>
                        <ion-input required type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Nueva Clave <ion-text color="primary">*</ion-text></ion-label>
                        <ion-input required  type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Repita la Nueva Clave <ion-text color="primary">*</ion-text></ion-label>
                        <ion-input required  type="password"></ion-input>
                    </ion-item>                    
                    
                    <ion-button class="mt-4 mb-4" expand="block" size="large" color="primary" shape="round" type="submit">
                        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
                        Guardar
                    </ion-button>
                </form>
            </div>

        </ion-card>
    </div>


</ion-content>

</ion-content>
