<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Cambio de Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="table-responsive container padding-top">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Día</th>
          <th scope="col" class="name">Inicio</th>
          <th scope="col" class="name">Fin</th>
          <th scope="col" class="name">Guardar</th>
          <th scope="col" class="name">Eliminar</th>
        </tr>
      </thead>
      
      <tbody>

        <!-- HORARIOS EXISTENTES -->
        <tr *ngFor="let day of schedule; let i = index">

          <!-- Modales -->
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="start{{i}}" [(ngModel)]="day.start" presentation="time" color="primary">
                <span slot="title">Hora de entrada</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="exit{{i}}" [(ngModel)]="day.exit" presentation="time" color="primary">
                <span slot="title">Hora de salida</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>

          <td> 
            <ion-item>
              <ion-select [(ngModel)]="day.week_day">
                <ion-select-option value="1">Lunes</ion-select-option>
                <ion-select-option value="2">Martes</ion-select-option>
                <ion-select-option value="3">Miércoles</ion-select-option>
                <ion-select-option value="4">Jueves</ion-select-option>
                <ion-select-option value="5">Viernes</ion-select-option>
                <ion-select-option value="6">Sábado</ion-select-option>
                <ion-select-option value="0">Domingo</ion-select-option>
              </ion-select>
            </ion-item>
          </td>

          <td><ion-datetime-button datetime="start{{i}}"></ion-datetime-button></td>
          <td><ion-datetime-button datetime="exit{{i}}"></ion-datetime-button></td>

          <td> 
            <ion-icon style="margin-left: 14px;" size="large" name="save-outline"
              (click)="editSchedule(day.id, day.start, day.exit, day.week_day)">
            </ion-icon>
          </td>

          <td>
            <ion-icon style="margin-left: 14px;" size="large" name="trash-outline"
              (click)="deleteSchedule(day.id)">
            </ion-icon>
          </td>

        </tr>


        <!-- NUEVO HORARIO -->
        <tr *ngFor="let newDay of newScheduleHour; let iNuevo = index" >

          <!-- Modales -->
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="startNew{{iNuevo}}" [(ngModel)]="newDay.start" presentation="time" color="primary">
                <span slot="title">Hora de entrada</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="exitNew{{iNuevo}}" [(ngModel)]="newDay.exit" presentation="time" color="primary">
                <span slot="title">Hora de salida</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>

          <td>
            <ion-item>
              <ion-select [(ngModel)]="newDay.week_day">
                <ion-select-option value="1">Lunes</ion-select-option>
                <ion-select-option value="2">Martes</ion-select-option>
                <ion-select-option value="3">Miércoles</ion-select-option>
                <ion-select-option value="4">Jueves</ion-select-option>
                <ion-select-option value="5">Viernes</ion-select-option>
                <ion-select-option value="6">Sábado</ion-select-option>
                <ion-select-option value="0">Domingo</ion-select-option>
              </ion-select>
            </ion-item>
          </td>

          <td><ion-datetime-button datetime="startNew{{iNuevo}}"></ion-datetime-button></td>
          <td><ion-datetime-button datetime="exitNew{{iNuevo}}"></ion-datetime-button></td>

          <td>
            <ion-icon style="margin-left: 14px;" size="large" name="save-outline"
              (click)="newHourOnSchedule(newDay.start, newDay.exit, newDay.week_day)">
            </ion-icon>
          </td>

          <td>
            <ion-icon style="margin-left: 14px; opacity: 0.4;" size="large" name="trash-outline"></ion-icon>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <ion-button style="margin-top: 20px; margin-left: 6px;" (click)="newSchedule()" shape="round">
    <ion-icon slot="start" name="add"></ion-icon>
    Añadir Horario
  </ion-button>

</ion-content>
