<ion-content>

  <div class="flex-center">

    <ion-text class="slide-in-bck-center" *ngIf="getErrorMessage()" color="danger">
      <p>{{getErrorMessage()}}</p>
    </ion-text>

    <ion-card class="puff-in-center">
      <ion-card-header>
        <ion-avatar class="center">
          <img src="assets/logos/user.png" />
        </ion-avatar>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="getForm()" (keyup.enter)="login()" (ngSubmit)="login()">

          <ion-item>
            <!-- <ion-label position="floating">Usuario</ion-label> -->
            <ion-input required type="text" placeholder="Usuario" formControlName="user"></ion-input>
          </ion-item>

          <ion-item>
            <!-- <ion-label position="floating">Contraseña</ion-label> -->
            <ion-icon #passwordShowIcon button (click)="showPassword(password)" slot="end" name="eye-outline">
            </ion-icon>
            <ion-input #password required type="password" formControlName="password" placeholder="Contraseña">
            </ion-input>
          </ion-item>

          <div *ngIf="!_loading.isLoading()">
            <ion-button (click)="openModal()" expand="block" fill="clear" shape="round">
              <small>Reestablecer Contraseña</small>
            </ion-button>

            <ion-button [disabled]="getForm().invalid" block color="primary" type="submit"
              shape="round" size="full">
              Iniciar Sesión
            </ion-button>
          </div>

          <app-loader [loading]="_loading.isLoading()" [msg]="_loading.getMessage()"></app-loader>

        </form>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>