<!-- <app-navbar-default></app-navbar-default> -->

<ion-content class="ion-padding">

  <div class="text-center">
    <h1 class="text-center">Hola, Admin</h1>
    <h3>Seleccioná un country</h3>
  </div>

  

  <ion-row>

    <ion-col>
      <ion-card routerLink="/admin/agregar-country" class="text-center" button >
        <ion-card-header>
          <ion-card-title>
            <ion-label><ion-icon slot="icon-only" name="add"></ion-icon></ion-label>
            <p>Nuevo</p>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="col-6" *ngFor="let country of countries">
      <!-- <ion-card (click)="saveCountryLocalStorage(country)" [routerLink]="['/admin/country-dashboard/', country.id]" button > -->
        <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
        <!-- <img alt="Country avatar" [src]="country.avatar" />
        <ion-card-content>
          {{country.name}}
        </ion-card-content>
      </ion-card> -->
      <!-- <ion-button (click)="deleteCountry(country)" class="ion-justify-content-end" fill="clear">  
        <ion-icon name="trash-outline"></ion-icon>        
    </ion-button> -->

    <ion-card button>

      <ion-card-header (click)="saveCountryLocalStorage(country)" [routerLink]="['/admin/country-dashboard/', country.id]" >
        <img alt="Country avatar" [src]="country.avatar" />   
      </ion-card-header>

      
      <ion-card-content style="display: flex; flex-direction: row; justify-content: space-between;">
        {{ country.name }}
        <ion-icon name="ellipsis-vertical" (click)="openPopover(country.id, $event)" style="font-size: 35px; justify-content: center; align-items: center;"></ion-icon>
      </ion-card-content>
    </ion-card>


    </ion-col>
  </ion-row>

</ion-content>
