<!-- <app-navbar-default></app-navbar-default> -->
<app-navbar-admin></app-navbar-admin>

<ion-content class="ion-padding">

  <div class="text-center">
    <h1 class="text-center">Hola, Admin</h1>
    <h3>Seleccioná un country</h3>
  </div>

  <ion-row>

    <ion-col>
      <ion-card routerLink="/admin/agregar-country" class="text-center" button >
        <ion-card-header>
          <ion-card-title>
            <ion-label><ion-icon slot="icon-only" name="add"></ion-icon></ion-label>
            <p>Nuevo</p>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="col-6" *ngFor="let country of countries">
      <ion-card button>
        <ion-card-header (click)="saveCountryLocalStorage(country)" [routerLink]="['/admin/country-dashboard/', country.id]" >
          <!-- CORRECCIÓN: Usar el método helper en lugar de country.avatar directamente -->
          <img alt="Country avatar" [src]="getCountryImage(country)" />   
        </ion-card-header>
        
        <ion-card-content style="display: flex; flex-direction: row; justify-content: space-between;">
          {{ country.name }}
          <ion-icon name="ellipsis-vertical" (click)="openPopover(country, $event)" style="font-size: 35px; justify-content: center; align-items: center;"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>