<!-- ====================================================== -->
<!-- GUARDS/CHECKIN.PAGE.HTML -->
<!-- ====================================================== -->
<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/guards/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Check In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="page-subtitle">REGISTRAR INGRESO</h3>

  <form [formGroup]="getForm()" (ngSubmit)="submitIncome()">
    <ion-item>
      <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="incomeData.name" required formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="incomeData.lastname" required formControlName="lastname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">DNI <small>(Sólo números)</small> <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="incomeData.DNI" required formControlName="DNI" type="text"></ion-input>
    </ion-item>

    <ion-searchbar #searchBar [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" animated debounce="500" placeholder="Buscar Propietario" mode="ios" (ionChange)="filtrarOwners($any($event).detail.value)"></ion-searchbar>
    
    <ion-list *ngIf="owners.length > 0">
      <ion-radio-group (ionChange)="setOwner($event)" formControlName="ownerID">
        <ion-item *ngFor="let owner of owners | filterBy: searchKey">
          <ion-label>{{owner.user.name}} {{owner.user.lastname}} - {{owner.user.dni}}</ion-label>
          <ion-radio [value]="owner.user.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label class="ion-text-wrap mb-3" position="stacked">Fecha y hora de ingreso</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [(ngModel)]="incomeData.date" presentation="date-time" formControlName="date" (ionChange)="getDate($event)" color="primary" [showDefaultTitle]="true" id="datetime">
          <span slot="title">SELECCIONA LA FECHA DE INGRESO</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-label position="floating">Transporte</ion-label>
      <ion-select #ionSelect (ionChange)="select($event)" placeholder="Seleccionar">
        <ion-select-option value="Vehículo">Vehículo</ion-select-option>
        <ion-select-option value="Motocicleta">Motocicleta</ion-select-option>
        <ion-select-option value="Camión">Camión</ion-select-option>
        <ion-select-option value="Bicicleta">Bicicleta</ion-select-option>
        <ion-select-option value="A pie">A pie</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="incomeData.transport && (incomeData.transport !== 'Bicicleta' && incomeData.transport !== 'A pie')">
      <ion-label position="floating">Patente</ion-label>
      <ion-input (ionChange)="changePatent($event)" required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-textarea #textArea (ionChange)="setObservations($event)" rows="5"></ion-textarea>
    </ion-item>
    
    <ion-button class="submit-button" size="large" expand="block" color="primary" type="submit" [disabled]="getForm().invalid">
      Registrar Ingreso
    </ion-button>
  </form>
</ion-content>