
<ion-header>
  <ion-toolbar>
    <ion-title>{{userInput}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    
  <form [formGroup]="formData" (ngSubmit)="send()">
    <ion-item>
      <ion-label position="stacked">Introduce tu correo</ion-label>
      <ion-input name="userInput" [(ngModel)]="userInput" formControlName="userInput" placeholder="correo@ejemplo.com" required type="text"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="formData.invalid" class="mt-3" size="large" expand="block" shape="round" color="primary">
      Solicitar Cambio de Contraseña 
    </ion-button>
  </form>
  
</ion-content>