<app-navbar-back title="Solicitudes de Contraseña"></app-navbar-back>

<ion-content class="ion-padding">
  <div class="table-responsive container">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de Solicitud</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; let i = index">
        <td>
          <ion-avatar>
          <img alt="Avatar" [src]="request.user.avatar" />
         </ion-avatar>
       </td>
        <td>{{request.user.lastname}}</td>
        <td>
          {{request.user.name}}
        </td>
        <td >
          {{request.date | date: 'dd/MM/yyyy hh:mm'}}
        </td>
        <td *ngIf="!loading">
        <ion-button (click)="resolverPeticion(request.id)" shape="round" color="success">Aceptar</ion-button>
        </td>
        <td *ngIf="loading">
          <ion-spinner name="crescent"></ion-spinner>
        </td>
      </tr>
      <tr>

    </tbody>
  </table>

</div>
</ion-content>
