<ion-header>
  <ion-toolbar>
    <ion-title>Reestablecer Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="getFormData()" (ngSubmit)="send()">
    <ion-item>
      <ion-label position="stacked">Introduce tu correo</ion-label>
      <ion-input name="userInput" [pattern]="_emailHelper.getEmailPattern()" [(ngModel)]="userInput" formControlName="userInput" placeholder="correo@ejemplo.com" required type="text">

      </ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="getFormData().invalid" class="mt-3" size="large" expand="block" shape="round" color="primary">
      Solicitar nueva contraseña
    </ion-button>
  </form>
</ion-content>
